h1
{
text-align: center;
color: white;
}


.bouton
{
    display: flex;
    justify-content: space-between;
    margin-top: 241px;
}
button
{
    width: 20%;
    height: 141px;
    background-color: #01257D ;
    border-radius: 5px;
    border: 3px solid black;
    color: white;
    font-size: 25px;
}

button:hover
{
    transform: scale(1.5);
    transition: 1s;
}
video#v1
{
object-fit: cover;
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-size: cover;
z-index: -1;
}

footer
{
    position: fixed;
    bottom: 0;
    color: white;
}